@mixin define_size($width, $height){
  width: $width;
  height: $height;
}
@mixin btn-format($width: 20.625rem) {
  border-radius: 0.5rem;
  @include define_size($width, 3.75em);
}

.title{
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4.4375rem;
  margin-bottom: 2.5rem;
}
.container{
  @include define_size(40.5rem, 32.25rem);
  margin: 0 auto;
  border-radius: 0.5rem;
  border: solid 0.0625rem black;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  display: flex;
}


.sign_in{
  @include define_size(20.625rem, 20.875rem);
  margin: 5.9375rem auto 0;
  .subtitle{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }
  .paw_data{
    @include define_size(20.625rem, 3.75rem);
    margin-top: 1.25rem;
    padding-left: 1.875rem;
    border-radius: 0.5rem;
    border: 0.0625rem SOLID BLACK;
  }
  .login_data{
    @include define_size(20.625rem, 3rem);
    margin-top: 1.25rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border: 0.0625rem SOLID BLACK;
  }
}
.remember_sign_in{
  margin-top: 1.875rem;
  button{
    @include btn-format(100%);
    color: white;
    background-color: #a66226;
    border: none;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover{
      filter: brightness(0.9);
    }
  }
  input{
    margin: 0 1rem;
  }
}
.pass_alternate{
  color: #898989;
  display: flex;
  margin-top: 1.875rem;
  justify-content: space-around;
  .register{
    color: #a66226;
    padding-right: 2.5rem;
    border-right: 0.0625rem solid #898989;
}
}

