:root {
  --green-700: #8FAD88;
  --green-500: rgba(143, 173, 136, 0.85)
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1rem;

  min-width: 768px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
