.outerContainer {
  display: flex;
  flex-direction: column;
}

.buttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1.0625rem;
  margin-right: 1.375rem;
}

.videoBox {
  margin-top: 7.56875rem;
  margin-bottom: 6.999375rem;
  margin-left: auto;
  margin-right: auto;
}

.videoInfo{
  background-color: var(--green-500);
  margin-bottom: 3.125rem;
  text-align: center;

  a {
    color: rgb(243, 243, 243);
    font-weight: 700;
  }
}

.avatarContainer {
  position: fixed;
  margin-top: -2rem;
  width: max-content;
  z-index: 999;
  display: flex;
  flex-direction: row;
  top: 15%;
  left: 1rem;
  object-fit: cover;

  & > p {
    padding: 8px 10px;
    border-radius: 7px;
    font-size: 11px;
    border-top-left-radius: 0px;
    background-color: lightgray;
    margin-top: 40px;
    margin-left: 5px;
    cursor: pointer;
    display: none;
  }
}

.avatarImg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .videoBox {
    iframe {
      width: 640px;
      height: 360px;
    }
  }
}



@media (max-width: 650px) {
  .videoBox {
    iframe {
      width: 426px;
      height: 240px;
    }
  }
}