.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--green-700);

  span {
    padding: 1rem 4.75rem;
  }
}

.logo {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}

.login {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
}