<<<<<<< HEAD
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--green-700);

  span {
    padding: 1rem 4.75rem;
  }
=======
.header{
  background-color: #8fad88;
  height: 9.375rem;
  display: flex;
  
  span {
    padding: 1rem 4.75rem;
  }
>>>>>>> origin/prd
}