.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
  background: var(--green-700);  

  z-index: 9;
}

.headerContent {
  width: 90%;
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  h1{
    font-size: 1rem;
    margin-right: 1rem;
    color:white;    
  }

  .logo {
    height: 4.5rem;
    width: 4rem;
    z-index: 8;
  }
  
  .loginButton {
    margin-left: auto;
    z-index: 8;
  }

  .logo_name {
    display: flex;
    gap: 1rem;
  }

}