.container {
  margin: 2rem;
}
.section {
  display: flex;
  flex-direction: column;

  .content{
    display: flex;
  }

}

.card {
  width: 20rem;
  height: 10rem;
  background-color: transparent;
  cursor: pointer;

  &>img {
    width: calc(100% - 30px);
    margin-right: 15px;
    aspect-ratio: 16 / 9;
  }

  &>p {
    text-align: center;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.modal_open {
  display: block !important;
}

.modal_btnClose {
  color:#8b4d17;
  font-size: 1rem;
  display: flex;
  position: absolute;
  top: -10px;
  left: .5rem;
  cursor: pointer;
}

.modal_container {
  margin-top: 90px;
  background-color: #8FAD88;
  width: 50%;
  position: absolute;
  border-radius: 5px;
  direction: ltr;
  padding: 2rem;
  color: black;
  top: 1rem;
  right: 1rem;
  display: none;

  &>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;

    &>img {
      max-width: 50%;
    }

    & * {
      font-size: 2rem;
      text-align: center;
      flex: 1;
    }
  }

  &>h3 {
    font-size: 1.6rem;
    text-align: left;
  }

  &>p {
    font-size: 1.1rem;
    text-align: justify;
  }
}
